@import "~bootstrap/scss/bootstrap";

// EVENTS STYLING

// Index and card
.event-index-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a {
    text-decoration: none;
  }
  .event-cards-container {
    margin: 0 auto;
    .event-card{
      display: flex;
      justify-content: center;
      color: black;
      border-top: 1px solid black;
      cursor: pointer;
      .event-card-left {
        margin-right: 20px;
        .event-card-image {
          margin-top: 15px;
          width: 150px;
          border-radius: 10px;
        }
      }
      .event-card-right {
        padding: 20px 20px 20px 0;
        text-decoration: none;
        h2 {
          margin: 0;
          text-decoration: none;
        }
        h4 {
          margin: 0;
        }
      }
    }
  }
}

// Show
.event-show-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .event-show-header {
    margin: 10px 0 10px 0;
    p, h1 {
      margin: 0;
    }
    .hosted-by {
      display: flex;
      align-items: center;
      .hosted-by-image {
        width: 100px;
        border: 1px solid black;
        margin-right: 10px;
      }
    }
  }
  .event-show-main {
    display: flex;
    justify-content: center;
    align-items: center;
    .event-show-left {
      margin-right: 50px;
      width: 50%;
    }
    .event-show-right {
      margin-left: 50px;
      .map-container {
        height: 300px;
        width: 100%;
        border-top: 2px solid black;
      }
    }
  }
  .event-show-lower {
    margin-top: 20px;
    .similar-events-container{
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      a {
        text-decoration: none;
        width: 280px;
      }
      h5, p {
        margin: 0;
      }
      .similar-event {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
        color: black;
        margin: 10px;
        margin-bottom: 120px;
        height: 270px;
        padding: 30px;
        cursor: pointer;
        .similar-event-image {
          max-width: 200px;
          max-height: 200px;
          margin-top: 10px;
        }
      }
    }
  }
  .event-show-attend-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightgray;
    padding: 20px;
    border-top: 1px solid black;
  .attend-footer-left {
    margin-left: 100px;
    color: black;
    p, h4 {
      margin: 0;
    }
  }
  .attend-footer-right {
    margin-right: 100px;
  }
}
}


// 


.card {
  height: 100%;
  display:flex;
  flex-direction: column;
}

.card-content {
  margin-top: auto;
}

section.section {
  min-height: calc(100vh - 11.25rem);
}
