@import "~bootstrap/scss/bootstrap";

* {
  background-image: url('https://i.pinimg.com/originals/c8/c1/1d/c8c11d37774b9ac8afdbeee61de3fcd4.jpg');
  color: white;
}

// EVENTS STYLING

// Index and card
.event-index-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a {
    text-decoration: none;
  }
  .events-page-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
    a {
      color: white;
    }
    .search {
      margin-right: 30px;
    }
    button {
      margin-left: 20px;
      cursor: pointer;
    }
  }
  .event-cards-container {
    margin: 0 auto;
    .event-card{
      display: flex;
      justify-content: center;
      color: black;
      border-top: 1px solid black;
      cursor: pointer;
      .event-card-left {
        margin-right: 20px;
        .event-card-image {
          margin-top: 15px;
          width: 150px;
          border-radius: 10px;
        }
      }
      .event-card-right {
        padding: 20px 20px 20px 0;
        text-decoration: none;
        h2 {
          margin: 0;
          text-decoration: none;
        }
        h4 {
          margin: 0;
        }
      }
    }
  }
}

// Show
.event-show-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .event-show-header {
    margin: 10px 0 10px 0;
    p, h1 {
      margin: 0;
    }
    .hosted-by {
      display: flex;
      align-items: center;
      p {
        margin-right: 20px;
      }
      .hosted-by-image {
        width: 100px;
        border: 1px solid black;
        margin-right: 10px;
      }
    }
  }
  .event-show-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    .event-show-left {
      width: 65%;
    }
    .event-show-right {
      width: 35%;
      .map-container {
        height: 300px;
        border-top: 2px solid black;
      }
    }
    .comments-container {
      display: flex;
      flex-direction: column;
      .comment {
        display: flex;
        .comment-left {
          display: flex;
          flex-direction: column;
          img {
          max-width: 100px;
          max-height: 100px;
          }
        }
      }
    }
  }
  .event-show-lower {
    margin-top: 20px;
    .similar-events-container{
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      a {
        text-decoration: none;
        width: 280px;
      }
      h5, p {
        margin: 0;
      }
      .similar-event {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
        color: white;
        margin: 10px;
        margin-bottom: 120px;
        height: 270px;
        padding: 30px;
        cursor: pointer;
        .similar-event-image {
          max-width: 200px;
          max-height: 200px;
          margin-top: 10px;
        }
      }
    }
  }
  .event-show-attend-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightgray;
    padding: 20px;
    border-top: 1px solid black;
  .attend-footer-left {
    margin-left: 100px;
    color: black;
    p, h4 {
      margin: 0;
    }
  }
  .attend-footer-right {
    margin-right: 100px;
  }
}
}
// Create Event
.create-event-form-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
  .label {
    margin: 15px 0 2px 5px;
  }
  button {
    margin-top: 10px;
  }
  
}

// * Group Show Styling
.container-row {
  display: flex;

}

.container-column {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto 15px;
}

// PROFILE PAGE
.profile-section {
  .profile-container {
    width: 90%;
    margin: 0 auto;
    .profile-header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      .user-avatar {
        width: 100px;
      }
    }
    .groups-created-container, .joined-groups-container, .joined-events-container {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
    .created-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 1px solid black;
      border-radius: 10px;
      color: black;
      margin: 10px;
      height: 240px;
      width: 20%;
      padding: 10px;
      cursor: pointer;
      img {
        max-width: 80%;
        max-height: 150px;
        margin: 10px 0 0 10px;
        border-radius: 10px;
      }
    }
  }
}
