@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Yeseva+One&display=swap');

body, #root {
  background: black;
  background-image: url('https://raw.githubusercontent.com/Carla-Codes/starry-night-css-animation/master/stars.png');
  background-repeat: repeat;
  background-size: 110% 100%;
  font-family: 'Yeseva One', cursive;
}

// IN FRONT
.in-front, .container-row, .input-group, .section, .container, .event-show-section, .create-form-container, .profile-section, .comments-container, .comments-form-container {
  position: relative;
  z-index: 3;
  color: white;
}

// STARRY NIGHT BACKGROUND
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width: 100%;
height: 100%;
background-size: cover;
}

.stars {
background:#000 url('https://raw.githubusercontent.com/Carla-Codes/starry-night-css-animation/master/stars.png') repeat top center;
z-index:0;
}

.twinkling{
background:transparent url('https://raw.githubusercontent.com/Carla-Codes/starry-night-css-animation/master/twinkling.png') repeat top center;
z-index:1;
animation:move-twink-back 400s linear infinite;
}

.clouds{
  background:transparent url('https://raw.githubusercontent.com/Carla-Codes/starry-night-css-animation/master/clouds.png') repeat top center;
  z-index:2;
  opacity: .4;
  animation:move-clouds-back 200s linear infinite;
}


// NAVBAR
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #10141b;
  position: relative;
  z-index: 3;
  text-transform: uppercase;
  font-family: sans-serif;
  .nav-element {
    color: white;
    text-decoration: none;
    margin: 10px 30px;
  }
  .nav-element:hover {
    color: white;
    border-bottom: 3px solid #f0d99c;
  }
  .logo {
    height: 80px;
    padding: 10px 40px 0px 10px;
  }
}

// INDEX HERO IMAGES 
.event-index-hero-image {

  h1 {
    color: white;
    width: 50%;
    margin: 300px auto;
  }
  height: 600px;
  background-image: url('https://images.ctfassets.net/usf1vwtuqyxm/mMhcduVS6W4ewosuSiaKo/1c1ffb948803c93dd5c8beb981a5ea17/TheThreeBroomsticks_PM_B4C24M2_GoblinsInThreeBroomsticks.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 0px 50px 30px black;
}

// EVENTS STYLING

// Index and card
.event-index-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Yeseva One', cursive;
  position: relative;
  z-index: 3;
  a {
    text-decoration: none;
  }
  .events-page-controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 40px 0 20px 150px;
    width: 100%;
    a {
      color: white;
    }
    .search {
      margin-right: 30px;
      .input {
        padding: 10px;
      }
    }
    button {
      margin-left: 20px;
      background-color: #6b63b5;
      border: 0;
      cursor: pointer;
    }

  }
    h4 {
      color: white;
      margin: 30px 0;
    }

  .event-cards-container {
    margin: 0 auto;
    .event-card{
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border-top: 2px solid #10141b;
      cursor: pointer;
      width: 100%;
      margin: 20px auto;
      .event-card-left {
        margin: 0 40px 0 90px;
        .event-card-image {
          margin-top: 15px;
          width: 180px;
          border-radius: 10px;
        }
      }
      .event-card-right {
        padding: 20px 20px 20px 0;
        text-decoration: none;
        margin-left: 40px;
        width: 70%;
        h2 {
          margin: 0;
          text-decoration: none;
        }
        h4 {
          margin: 0;
        }
      }
    }
    .event-card:hover {
      transform: scale(1.1);
      background-color: rgba(0,0,0,0.5);
      color: rgba(255, 255, 255, 1);
    }
  }
}

// Show
.event-show-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  .event-show-header {
    margin: 10px 0 10px 0;
    p, h1 {
      margin: 0;
    }
    .hosted-by {
      display: flex;
      align-items: center;
      p {
        margin-right: 20px;
      }
      .hosted-by-image {
        width: 100px;
        border: 1px solid black;
        border-radius: 55%;
        margin-right: 10px;
      }
    }
  }
  .event-show-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    color: white;
    .event-show-left {
      width: 65%;
    }
    .event-show-right {
      width: 35%;
      .map-container {
        height: 300px;
        border-top: 2px solid black;
      }
    }
    .attendee-card {
      display: flex;
      img {
        max-width: 100px;
        max-width: 100px;
      }
    }
    .comments-container {
      display: flex;
      flex-direction: column;
      .comment {
        display: flex;
        .comment-left {
          display: flex;
          flex-direction: column;
          img {
          max-width: 100px;
          max-height: 100px;
          }
        }
      }
    }
  }

  .event-show-lower {
    margin-top: 20px;
    color: white;
    .similar-events-container{
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      a {
        text-decoration: none;
        width: 280px;
      }
      h5, p {
        margin: 0;
      }
      .similar-event {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
        color: white;
        margin: 10px;
        margin-bottom: 120px;
        height: 270px;
        padding: 30px;
        cursor: pointer;
        .similar-event-image {
          max-width: 200px;
          max-height: 200px;
          margin-top: 10px;
        }
      }
    }
  }
  .event-show-attend-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightgray;
    padding: 20px;
    border-top: 1px solid black;
  .attend-footer-left {
    margin-left: 100px;
    color: black;
    p, h4 {
      margin: 0;
    }
  }
  .attend-footer-right {
    margin-right: 100px;
  }
}
}
// Create Event
.create-form-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 40px 60px 40px;
  .multiselect {
    color: black;
  }
  h2 {
    margin-bottom: 15px;
  }
  .label {
    margin: 15px 0 2px 5px;
  }
  .input {
    font-family: sans-serif;
  }
  a {
    text-decoration: none;
    color: #6b63b5;
  }
  button {
    margin-top: 10px;
    background-color: #6b63b5;
    border: none;
  }
  
}

// * Group Show Styling
.container-row {
  display: flex;

}

.container-column {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto 15px;
}

// PROFILE PAGE
.profile-section {
  .profile-container {
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    .profile-header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      .user-avatar {
        width: 100px;
      }
    }
    .groups-created-container, .joined-groups-container, .joined-events-container {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
    .created-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 1px solid black;
      border-radius: 10px;
      color: white;
      margin: 10px;
      height: 240px;
      width: 20%;
      padding: 10px;
      cursor: pointer;
      img {
        max-width: 80%;
        max-height: 150px;
        margin: 10px 0 0 10px;
        border-radius: 10px;
      }
    }
  }
}

// * REGISTRATION PAGE 


  .registration-form-container {
    display: flex;
    .registration-column {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }





